@{

}

<br>
<br>
<br>
<br>
<br>
<div class="test-cont">
    <h1 class="menu">Administrator Panel</h1>
    <div class="question-container">
        <h3><a asp-action="FormMessagesList" asp-controller="Admin">Form Messages List (all)</a></h3>
    </div>
    <div class="question-container">
        <h3><a asp-action="NewsList" asp-controller="Admin">CRUD Options for News in list</a></h3>
    </div>
    <div class="question-container">
        <h3><a asp-action="NewNewsTopic" asp-controller="Admin">Add new News topic</a></h3>
    </div>
    <div class="question-container">
        <h3><a asp-action="Logout" asp-controller="Account">Log out</a></h3>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

