@model IEnumerable<NewsTopic>
@{
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="test-cont">
        <h1 class="menu">Все новости и редактирование</h1>
        <div class="question-container">
            <table>
                @foreach (NewsTopic topic in Model)
                {
                    <tr>
                        <td>
                            @Html.Partial("NewsTopicPartial", topic)
                        </td>
                        <td>
                            <form asp-action="Delete" method="post">
                                <a asp-action="Edit" asp-route-topic="@topic.NewsTopicID" class="button" style="background-color: aqua">Edit</a>
                                <input type="hidden" name="NewsTopicID" value="@topic.NewsTopicID" />
                                <button type="submit" class="button">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}
