@model NewsTopic
@{
    <div class="news">
        <img class="newsimg" src="/img/NEWSIMG/@Model.ImageName">
        <p class="article">
            @Model.TopicText
        </p>
        <p class="contact button"><a href="@Model.ButtonLink" class="button">@Model.TopicButtonText</a></p>
    </div>
}
