@model HomeIndexViewModel

@{
}


<div class="wrapper">
    <div class="flex spacebetween aligncenter banner" id="start">
        <div class="bannertext">
            <p>Личная страница - Citrus_0974</p>
            <p>
                После долгого существования в интернете, особенно в виде собственного YouTube-канала,
                пришло время создать собственный официальный сайт. Добро пожаловать!<br>Основные площадки:
            </p>
            <div class="flex spacebetween aligncenter">
                <p class="contact"><a href="https://www.youtube.com/channel/UC_oXvgsZcKrqmAlmUa2B7PQ">YouTube</a></p>
                <p class="contact"><a href="https://t.me/citrus_channel">Telegram</a></p>
            </div>
            <div>
                <p></p>
            </div>
        </div>
    </div>

    <img width="350px" src="img/eos40d-2.png" class="banner1img">
    <img src="img/Plants-Vs-Zombies.png" class="banner2img">

    <div class="newspanel">
        <h1 class="menu" id="news"><a asp-action="News">Новости</a></h1>
        <div class="flex spacebetween aligncenter adoptnews">
            @foreach (NewsTopic topic in @Model.topics)
            {
                @Html.Partial("NewsTopicPartial", topic)
            }
        </div>
    </div>

    <div class="servicepanel" id="servicepanel">
        <h1 class="menu">Основной канал</h1>
        <div class="flex spaceevently aligncenter service3">
            <div class="articleimg2">
                <img class="articleimg2" src="img/Citrus_0974-YouTube.png">
            </div>
            <div>
                <p class="article service3text">
                    Не знаю, когда именно вы о нём узнали, но в том виде, в котором он существует последние годы, его развитие началось в 2019 - в момент релиза PvZ Battle for Neighborville Founders' Edition. С тех пор много времени прошло, я позврослел, а PvZ окончательно пришла в упадок, тем не менее на канале есть несколько уже постоянных рубрик, содержащихся в соотвутствующих плейлистах. Среди них - каждая бета-версия PvZ3, летсплей-подкаст по BfN, летсплеи и обзоры на моды GW2 и немного технических видео, которых в будущем, надеюсь, станет больше. Подробнее - в разделе "Видео".
                </p>
            </div>
        </div>
    </div>
    <div class="servicepanel">
        <h1 class="menu">Второй канал</h1>
        <div class="flex spaceevently aligncenter service3">
            <div>
                <p class="article service3text">
                    Был создан в начале 2020 года для ликвидации запаса архивных записей PvZ GW2 и "лайтового летсплея во время дистанционного обучения", а далее использовался для хранения всевозможных геймплеев и футажей, не пригодившихся или использованных на основном канале. Летом 2024 года случайное видео о китайском фанатском Unity-проекте PvZ3: New Start начало набирать большие просмотры, после чего была предпринята попытка регулярно выпускать низкокачественные видео, в первую очередь про обновления New Start, но сейчас этот эксперимент завершён. Сейчас на канале вновь выходят архивные записи, а также проводятся все внеплановые вне-тематические стримы.
                </p>
            </div>
            <div> </div>
            <div class="articleimg2">
                <img class="articleimg2" src="img/Rus_0974-YouTube.png">
            </div>
        </div>
    </div>
    <div class="servicepanel">
        <h1 class="menu">Фотографирование</h1>
        <div class="flex spaceevently aligncenter service3">
            <div class="articleimg2">
                <img class="articleimg2" src="img/IMG_2227_55_20221010.jpg">
            </div>
            <div>
                <p class="article service3text">
                    В 2022 году, когда моя старая бестолковая мыльница Nikon CoolPix L28 сломалась, а все возможности камеры Redmi Note 8T были изучены, в мои руки попала мыльница Canon Ixus 105, у которой уже был режим P - погуглив несколько дней про ISO и White Balance, я пришёл к выводу - "мне нужна зеркалка". После этого у меня появился Canon 40D, несколько советских объективов, Sony Nex 3, а сейчас коплю на полнокадровую беззеркалку. Какое-то время снимал "всё на своём пути", но сейчас снимаю в основном что-то в своём политехе или другие локальные мероприятия. Некоторые хорошие фотки публикую в своих telegram-каналах.
                </p>
            </div>
        </div>
    </div>

    <div class="arrow">
        <a href="#start"><img src="img/arrow.png"></a>
    </div>
</div>

    <div class="flex aligncenter spaceevently">
        <div class="form-container" id="form-sign">
            <h1 class="footertext">Что-то написать мне</h1>
            <form method="POST" class="flex" style="flex-direction: column;">
                <input type="text" name="name" autocomplete="name" required pattern="[а-яА-Я]{3,20}" placeholder="Имя*">
                <input type="text" name="adress" placeholder="E-mail или @@telegram для обратной связи">
                <textarea id="story" name="story" required rows="7px" cols="35px" placeholder="Текст сообщения"></textarea>
                <input type="submit">
            </form>
        </div>
    </div>
